*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  min-height: 100vh;
  display: flex;
}

.calc{
  padding: 5px;
  margin: 10px;
  font-size: 30px;

}
#grid{
  margin: auto;
  border-right: 5px;
  text-align: center;
  background: lightgray;

}
.expression{
  margin: auto;
  text-align:right;
  width: 88%;
  background:black;
  color:white;
  border: solid black;
  font-size: 30px;
}
.show_answer{
  margin: auto;
  text-align:right;
  width: 88%;
  background:red;
  color:white;
  border: solid black;
  font-size: 30px;
}
